{% extends "base.html" %}

{% block content %}

    <div class="about">
    <div class="about_left">
        <div class="txt">
            We here a lot about accidentd these days. And many of them are due to the negligence of the drivers. I was shocked to know that many of them are caused due to sleeplessness of drivers
            So I though of making this type of application which warns you when you are asleep and prompts you to drink water.
             <br/><br />
        
        It can also be used by students when they appear for online classes. Staying at a single position for much time obviously causes drowsiness. So they might miss their classes in between. So by using this they can stay awake and whenever he or she faces the monitor asleep they shall be awakend by the alarm
        It triggers an alarm in case the student dozes off.

            <br/><br />
        Not only this, there is an additional feature which would give a tip on how to maintain health and stay active.
        </div>
    </div>
    <div class="about_right scale-up-center">
        <div class="content2 flex">
            <img class="relax slide-fwd-center" src="../static/media/about.svg">
        </div>
    
        </div>
</div>
    
{% endblock content %}